# Telegram
BOT_TOKEN=
OWNER_ID=
LOG_CHANNEL_ID=-1003803777714

# MongoDB
MONGO_URI=
# CheapestSMM
PANEL_URL=https://cheapestsmmpanels.com/api/v2
PANEL_API_KEY=

# Credits
REFERRAL_REWARD=50
CREDITS_PER_RUPEE=50

# Default Rates
VIEW_COST=1
REACTION_COST=5

# Bot
BOT_NAME=VTH Auto Boost
# Force Join
FORCE_JOIN_CHANNEL=@vthchannel